In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Preprocecing
#First of all we will check how many null values there are in each column
df = pd.read_csv('chess_games.csv')

In [9]:
df_first_lines = df.head(50000)
df_first_lines.to_csv('shorterChessDf.csv', index=False)

In [32]:
df = pd.read_csv('shorterChessDf.csv')

In [33]:
df.head()

,Event,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Opening,TimeControl,Termination,AN
0,Classical,eisaaaa,HAMID449,1-0,2016.06.30,22:00:01,1901,1896,11.0,-11.0,D10,Slav Defense,300+5,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,go4jas,Sergei1973,0-1,2016.06.30,22:00:01,1641,1627,-11.0,12.0,C20,King's Pawn Opening: 2.b3,300+0,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,Evangelistaizac,kafune,1-0,2016.06.30,22:00:02,1647,1688,13.0,-13.0,B01,Scandinavian Defense: Mieses-Kotroc Variation,180+0,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,Correspondence,Jvayne,Wsjvayne,1-0,2016.06.30,22:00:02,1706,1317,27.0,-25.0,A00,Van't Kruijs Opening,-,Normal,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,Blitz tournament,kyoday,BrettDale,0-1,2016.06.30,22:00:02,1945,1900,-14.0,13.0,B90,"Sicilian Defense: Najdorf, Lipnitsky Attack",180+0,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...

In [22]:
# Define the function to split chess moves
def split_chess_moves(moves, turns):
    move_list = moves.split()
    separated_moves = []
    turn_number = 1
    for i in range(0, len(move_list), 3):
        if turn_number > turns:
            break
        separated_moves.append(move_list[i + 1] if i + 1 < len(move_list) else "")
        separated_moves.append(move_list[i + 2] if i + 2 < len(move_list) else "")
        turn_number += 1
    return separated_moves

In [35]:
def determine_result(result):
    if result == '1-0':
        return 1
    elif result == '0-1':
        return 0
    elif result == '1/2-1/2':
        return 2
    else:
        return -1  # for any unexpected result format

In [40]:
df = pd.read_csv('shorterChessDf.csv')  # Load the DataFrame

df['Result'] = df['Result'].apply(lambda x: determine_result(x))# Apply the determine_result function

number_of_turns = 20# Specify the number of turns you want to extract

# Create new columns for the specified number of turns
columns = [f"Turn {i+1} White" for i in range(number_of_turns)] + [f"Turn {i+1} Black" for i in range(number_of_turns)]

# Ensure the correct column containing moves is accessed
moves_column = 'AN'  # Replace 'AN' with the correct column name containing the moves

# Apply the split_chess_moves function to each row in the DataFrame
moves_split = df[moves_column].apply(lambda x: pd.Series(split_chess_moves(x, number_of_turns)))

df[columns] = moves_split # Combine the new columns with the original DataFrame

# Drop specified columns
dfNew.drop(columns=['Event', 'White', 'Black', 'UTCDate', 'UTCTime', 'WhiteElo', 'BlackElo', 'WhiteRatingDiff', 'BlackRatingDiff', 'ECO', 'Opening', 'TimeControl', 'Termination', 'AN'], inplace=True)

# Save the modified DataFrame to a CSV file
output_file = 'modified_dataframe.csv'  # Replace with your output CSV file name
df.to_csv(output_file, index=False)

# Display the first few rows of the modified DataFrame
dfNew.head()

,Result,Turn 1 White,Turn 2 White,Turn 3 White,Turn 4 White,Turn 5 White,Turn 6 White,Turn 7 White,Turn 8 White,Turn 9 White,...,Turn 11 Black,Turn 12 Black,Turn 13 Black,Turn 14 Black,Turn 15 Black,Turn 16 Black,Turn 17 Black,Turn 18 Black,Turn 19 Black,Turn 20 Black
0,1,d4,d5,c4,c6,e3,a6,Nf3,e5,cxd5,...,Rac1,Qd6,Qc2,Qe6,Nb1,Bd6,a3,Nb6,Qc6,Nfd5
1,0,e4,e5,b3,Nf6,Bb2,Nc6,Nf3,d6,d3,...,Rxc7,Nxa2,Ra1,Nb4,Raxa7,Rxa7,Rxa7,Nxe4,Nxe4,Rxe4
2,1,e4,d5,exd5,Qxd5,Nf3,Bg4,Be2,Nf6,Nc3,...,Qxb7,Bg4,Qc6+,Ke7,Rae1,Rxh4,Nd5+,Kf8,Nxf6,Qxf6
3,1,e3,Nf6,Bc4,d6,e4,e6,Nf3,Nxe4,Nd4,...,Nxh3,g5+,Nxg5,fxg5+,Kxg5,Rh5+,Qxh5+,Kd7,Qf7+,Kd6
4,0,e4,c5,Nf3,d6,d4,cxd4,Nxd4,Nf6,Nc3,...,Ne2,Qd8,Bb6,Qe8,Be3,Ra6,c4,Nh5,Ng3,Nxg3

In [26]:
dfNew = pd.read_csv('modified_dataframe.csv')
dfNew.head()

,AN,Turn 1 White,Turn 2 White,Turn 3 White,Turn 4 White,Turn 5 White,Turn 1 Black,Turn 2 Black,Turn 3 Black,Turn 5 Black,result
0,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...,d4,d5,c4,c6,e3,a6,Nf3,e5,e4,-1
1,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...,e4,e5,b3,Nf6,Bb2,Nc6,Nf3,d6,g6,-1
2,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....,e4,d5,exd5,Qxd5,Nf3,Bg4,Be2,Nf6,Qd8,-1
3,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...,e3,Nf6,Bc4,d6,e4,e6,Nf3,Nxe4,Nxf2,-1
4,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...,e4,c5,Nf3,d6,d4,cxd4,Nxd4,Nf6,a6,-1

In [ ]:
# Display the data types of each column
print(df.dtypes)

In [ ]:
# Counting null values in each column
null_counts = df.isnull().sum()

print(null_counts)

In [ ]:

# Counting unique values in each column
unique_counts = df.nunique()

print(unique_counts)