In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Preprocecing
#First of all we will check how many null values there are in each column
df = pd.read_csv('chess_games.csv')

In [9]:
df_first_lines = df.head(50000)
df_first_lines.to_csv('shorterChessDf.csv', index=False)

In [21]:
df = pd.read_csv('shorterChessDf.csv')

In [17]:
df_first_lines.head(5)

,Event,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,...,Turn 1 White,Turn 2 White,Turn 3 White,Turn 4 White,Turn 5 White,Turn 1 Black,Turn 2 Black,Turn 3 Black,Turn 4 Black,Turn 5 Black
0,Classical,eisaaaa,HAMID449,1-0,2016.06.30,22:00:01,1901,1896,11.0,-11.0,...,d4,d5,c4,c6,e3,a6,Nf3,e5,cxd5,e4
1,Blitz,go4jas,Sergei1973,0-1,2016.06.30,22:00:01,1641,1627,-11.0,12.0,...,e4,e5,b3,Nf6,Bb2,Nc6,Nf3,d6,d3,g6
2,Blitz tournament,Evangelistaizac,kafune,1-0,2016.06.30,22:00:02,1647,1688,13.0,-13.0,...,e4,d5,exd5,Qxd5,Nf3,Bg4,Be2,Nf6,Nc3,Qd8
3,Correspondence,Jvayne,Wsjvayne,1-0,2016.06.30,22:00:02,1706,1317,27.0,-25.0,...,e3,Nf6,Bc4,d6,e4,e6,Nf3,Nxe4,Nd4,Nxf2
4,Blitz tournament,kyoday,BrettDale,0-1,2016.06.30,22:00:02,1945,1900,-14.0,13.0,...,e4,c5,Nf3,d6,d4,cxd4,Nxd4,Nf6,Nc3,a6

In [22]:
# Define the function to split chess moves
def split_chess_moves(moves, turns):
    move_list = moves.split()
    separated_moves = []
    turn_number = 1
    for i in range(0, len(move_list), 3):
        if turn_number > turns:
            break
        separated_moves.append(move_list[i + 1] if i + 1 < len(move_list) else "")
        separated_moves.append(move_list[i + 2] if i + 2 < len(move_list) else "")
        turn_number += 1
    return separated_moves

In [23]:
# Specify the number of turns you want to extract
number_of_turns = 20  # Example: First 5 turns

# Create new columns for the specified number of turns
columns = [f"Turn {i+1} White" for i in range(number_of_turns)] + [f"Turn {i+1} Black" for i in range(number_of_turns)]

# Apply the split_chess_moves function to each row in the DataFrame
moves_split = df.iloc[:, -1].apply(lambda x: pd.Series(split_chess_moves(x, number_of_turns)))

# Combine the new columns with the original DataFrame
df[columns] = moves_split

# Save the modified DataFrame to a CSV file
output_file = 'modified_dataframe.csv'  # Replace with your output CSV file name
df.to_csv(output_file, index=False)

In [24]:
dfNew = pd.read_csv('modified_dataframe.csv')
dfNew.head()

,Event,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,...,Turn 11 Black,Turn 12 Black,Turn 13 Black,Turn 14 Black,Turn 15 Black,Turn 16 Black,Turn 17 Black,Turn 18 Black,Turn 19 Black,Turn 20 Black
0,Classical,eisaaaa,HAMID449,1-0,2016.06.30,22:00:01,1901,1896,11.0,-11.0,...,Rac1,Qd6,Qc2,Qe6,Nb1,Bd6,a3,Nb6,Qc6,Nfd5
1,Blitz,go4jas,Sergei1973,0-1,2016.06.30,22:00:01,1641,1627,-11.0,12.0,...,Rxc7,Nxa2,Ra1,Nb4,Raxa7,Rxa7,Rxa7,Nxe4,Nxe4,Rxe4
2,Blitz tournament,Evangelistaizac,kafune,1-0,2016.06.30,22:00:02,1647,1688,13.0,-13.0,...,Qxb7,Bg4,Qc6+,Ke7,Rae1,Rxh4,Nd5+,Kf8,Nxf6,Qxf6
3,Correspondence,Jvayne,Wsjvayne,1-0,2016.06.30,22:00:02,1706,1317,27.0,-25.0,...,Nxh3,g5+,Nxg5,fxg5+,Kxg5,Rh5+,Qxh5+,Kd7,Qf7+,Kd6
4,Blitz tournament,kyoday,BrettDale,0-1,2016.06.30,22:00:02,1945,1900,-14.0,13.0,...,Ne2,Qd8,Bb6,Qe8,Be3,Ra6,c4,Nh5,Ng3,Nxg3

In [ ]:
# Display the data types of each column
print(df.dtypes)

In [ ]:
# Counting null values in each column
null_counts = df.isnull().sum()

print(null_counts)

In [ ]:

# Counting unique values in each column
unique_counts = df.nunique()

print(unique_counts)