In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Preprocecing
#First of all we will check how many null values there are in each column
df = pd.read_csv('chess_games.csv')

In [9]:
df_first_lines = df.head(50000)
df_first_lines.to_csv('shorterChessDf.csv', index=False)

In [10]:
df_first_lines.head(5)

,Event,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Opening,TimeControl,Termination,AN
0,Classical,eisaaaa,HAMID449,1-0,2016.06.30,22:00:01,1901,1896,11.0,-11.0,D10,Slav Defense,300+5,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,go4jas,Sergei1973,0-1,2016.06.30,22:00:01,1641,1627,-11.0,12.0,C20,King's Pawn Opening: 2.b3,300+0,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,Evangelistaizac,kafune,1-0,2016.06.30,22:00:02,1647,1688,13.0,-13.0,B01,Scandinavian Defense: Mieses-Kotroc Variation,180+0,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,Correspondence,Jvayne,Wsjvayne,1-0,2016.06.30,22:00:02,1706,1317,27.0,-25.0,A00,Van't Kruijs Opening,-,Normal,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,Blitz tournament,kyoday,BrettDale,0-1,2016.06.30,22:00:02,1945,1900,-14.0,13.0,B90,"Sicilian Defense: Najdorf, Lipnitsky Attack",180+0,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...

In [11]:
def split_chess_moves(moves, turns):
    move_list = moves.split()
    separated_moves = []
    turn_number = 1
    for i in range(0, len(move_list), 3):
        if turn_number > turns:
            break
        separated_moves.append(move_list[i + 1] if i + 1 < len(move_list) else "")
        separated_moves.append(move_list[i + 2] if i + 2 < len(move_list) else "")
        turn_number += 1
    return separated_moves

In [ ]:
# Specify the number of turns you want to extract
number_of_turns = 5  # Example: First 5 turns

# Create new columns for the specified number of turns
columns = [f"Turn {i+1} White" for i in range(number_of_turns)] + [f"Turn {i+1} Black" for i in range(number_of_turns)]

# Apply the split_chess_moves function to each row in the DataFrame
df[columns] = df.iloc[:, -1].apply(lambda x: pd.Series(split_chess_moves(x, number_of_turns)))

# Save the modified DataFrame to a CSV file
output_file = 'modified_dataframe.csv'  # Replace with your output CSV file name
df.to_csv(output_file, index=False)

In [ ]:
# Display the data types of each column
print(df.dtypes)

In [ ]:
# Counting null values in each column
null_counts = df.isnull().sum()

print(null_counts)

In [ ]:

# Counting unique values in each column
unique_counts = df.nunique()

print(unique_counts)